# Created by .ignore support plugin (hsz.mobi)
/local/vendor/
/.idea/
/local/storage/
/local/config/database.php
/local/config/snappy.php
.env
bootstrap/cache/
local/app/modules/HRM/Views/Panel/panel_view_rough.blade.php___jb_bak___
